.DS_Store
debug*
Models/
**/model/
**/checkpoints/
*.py[cod]
*.npy
*.mat
*.dat
*.bin
*.pb
*.zip
*.png
**/models/
**/model/
**/datasets/
**/results/
yk_exp/
Data/
Deep3DFaceReconstruction/output/
Audio/sample/
Audio/dataset/mfcc/
tmp.sh
.nohup*

# expection
!render-to-video/data
!render-to-video/models
