.DS_Store
debug*
Models/
**/model/
**/checkpoints/
*.py[cod]
*.npy
*.mat
*.dat
*.bin
*.pb
*.zip
*.png
**/models/
**/model/
**/datasets/
**/results/
Data/
Deep3DFaceReconstruction/output/
Audio/sample/
Audio/dataset/mfcc/